*   {
    color: red;
    background-color: blueviolet;
}   

/*
a:link { color: blue; }
a:visited { color: red; }

/**   {
    color: red;
    background-image: linear-gradient(to right, cyan, blue, cyan);
}   */

#container {
    width: 60%;
    margin: auto;
}

p   {
    color: white;
}

h4   {
    color: white;
    text-align: center;
}

h1  {
    text-align: center;
    color: black;
    font-size: 2em;
}

h2  {
    text-align: center;
    color: black;
}

/*     testing      */
.entry li a{
/*    font-size:30px;   */
    color:#000;
    font-weight:700;
}

.entry li a:hover{
    color:#f00;
}
/*                  */

a  {
    text-decoration: none;
    color: white;
}

li  {
    padding: 4px;
    font-size: 1em;
}

code  {
    color: white;
}

header {
    padding: 20px;
}

footer p  {
    color: black;
    float: right;
}

ul li   {
    color: white;
}

code {
    color: black;
}

marquee {
    color: white;
    font-size: 3em;
}

@media 
